.DS_Store
/_build/
/deps/
/*.ez
/.elixir_ls/
node_modules
.env
.env.local
*.log
priv/repo/*.db*
dist/
build/
native/silero_vad_eot/silero_vad_eot

# erlang crash report
*.dump
priv/knowledge/books
lib/books
